body {
    overflow-y: hidden;
}

main {
    width: 100%;
}

/* main h1 {
    padding-top: 50px;
} */

#side-menu {
    width: 15%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    overflow-y: auto;
}

#side-menu span {
    font-size: 14px;
    vertical-align: middle
}

#side-menu ul {
    list-style: none;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

#side-menu li {
    text-align: center;
    background-color: orange;
    padding: 20px;
    margin-bottom: 10px;
}

#side-menu li:hover {
    cursor: grab;
    user-select: none;
}

#editor-outer-container {
    width: 85%;
    height: calc(100vh - 70px);
    background-color: darkgreen;
    position: absolute;
    margin-left: 15%;
    overflow-y: auto;
}

#editor-inner-container {
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* width: 75vi; */
    margin-left: 25px;
    margin-right: 25px;
    background-color: dodgerblue;
}

#publish-survey-button-container {
    width: 100%;
    height: 50px;
    padding-top: 50px;
    background-color: rgb(197, 127, 255);
}

#publish-survey-button-container h1 {
    float: left;
}

#publish-survey-button-container input {
    float: right;
    height: 100%;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    align-items: center;
    background-color: chartreuse;
}

#survey-title-and-description-container {
    width: 100%;
    display: flex;
    background-color: rgb(84, 84, 207);
}

#survey-title-and-description-container div {
    /* width: calc(50% - 10px); */
    width: 50%;
    height: stretch;
    float: left;
}

#survey-title-and-description-container div textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    min-height: 100px;
    font-size: 14px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#questions-container {
    padding: 0;
}

#questions-container li:first-child {
    margin-top: 0px;
}

/* Open Ended Question */

#questions-container .open-ended-question {
    list-style: none;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: lime;
}

.open-ended-question #top-container {
    width: 100%;
    height: 50px;
    background-color: lightgreen;
    display: flex;
}

.open-ended-question #top-container #question-number-container {
    width: 50px;
    height: 100%;
    background-color: aqua;
    text-align: center;
    display: grid;
    align-items: center;
}

.open-ended-question #top-container #question-type-container {
    height: 100%;
    width: calc(100% - 50px - 150px);
    background-color: cadetblue;
    display: flex;
    align-items: center;
}

.open-ended-question #top-container #question-type-container p {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.open-ended-question #top-container #delete-question-container {
    width: 150px;
    height: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.open-ended-question #top-container #delete-question-container a {
    text-decoration: none;
    user-select: none;
}
.open-ended-question #bottom-container {
    width: 100%;
    height: calc(100% - 50px);
    background-color: darkorchid;
    display: flex;
}

.open-ended-question #bottom-container #left-container {
    width: 50.47px;
    /* width: 50px; */
    background-color: fuchsia;
    display: grid;
    align-items: center;
    cursor: grab;
}

.kabab-menu{
    width: 20px;
    height: 30px;
    display: grid;
    align-items: center;
    background-color: yellow;
}

.kabab-menu .dot-container div {
    border-radius: 50%;
    background-color: black;
    width: 5px;
    height: 5px;
    float: left;
    margin:2px;
}

.open-ended-question #bottom-container #right-container {
    height: calc(100% - 20px);
    width: calc(100% - 50px);
    background-color: firebrick;
    padding: 10px;
}

.open-ended-question #bottom-container #right-container input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
}