footer {
    width: 100%;
    display: block;
    height: 300px;
    float: left;
    /* background-color: red; */
    box-shadow: 0px -5px 5px rgba(0,0,0,0.2);
    background-color: rgb(50, 50, 50);
}

footer #outer-container {
    margin-top: 50px;
    width: 75%;
    height: 40%;
    /* background-color: lime; */
    display: flex;
}

footer #image-container {
    width: 5%;
    /* background-color: blue; */
}

footer .container-title {
    font-weight: bold;
    margin-bottom: 15px;
}

footer .inner-container {
    /* background-color: orange; */
    width: 15%;
    float: left;
}

footer .inner-container h3 {
    color: white;
}

footer .inner-container a {
    text-decoration: none;
    color: white;
}

footer .inner-container a:hover {
    text-decoration: underline;
}

footer #copyright-container {
    width: 75%;
    /* background-color: darkgreen; */
    text-align: right;
    margin-top: 10px;
}

footer #copyright-container p {
    color: white;
}