form {
    background-color: fuchsia;  
    width: 30%;
    padding: 40px;
    line-height: 180%;
    margin-top: 50px;
    margin-bottom: 200px;
}

form h1 {
    text-align: center;
}

form input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

form input[type=email],[type=password] {
    width: 100%;
    height: 50px;
}

form input[type=submit] {
    width: 100%;
    height: 50px;
}

form div a {
    float: right;
}

form a {
    text-align: center;
    display: block;
}