form {
    background-color: white;  
    width: 30%;
    padding: 40px;
    line-height: 180%;
    margin-top: 50px;
    margin-bottom: 200px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

form h1 {
    text-align: center;
}

form input {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

form input[type=email],[type=password] {
    width: 100%;
    height: 50px;
}

form input[type=submit] {
    width: 100%;
    height: 50px;
    color: white;
    border: 2px solid #0057ff;
    background-color: #0057ff;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

form input[type=submit]:hover {
    background-color: transparent;
    color: black;
    border: 2px solid rgba(50, 50, 50);
    cursor: pointer;
}

form div a {
    float: right;
}

form a {
    text-align: center;
    display: block;
}