main h1 {
    padding-top: 50px;
    margin-left: 30px;
}

#main-container {
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 30px;
    background-color:white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.section-container {
    /* background-color: coral; */
    margin-bottom: 30px;
}

.section-container h2 {
    margin-left: 30px;
    padding-top: 30px;
}

.section-container input[type=text] {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.section-container hr {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.section-container #input-container {
    margin-left: 30px;
    margin-right: 30px;
    /* background-color: crimson; */
    padding-bottom: 20px;
}

.section2-container {
    /* background-color: coral; */
    padding-bottom: 30px;
}

.section2-container h2 {
    margin-left: 30px;
    padding-top: 30px;
}

.section2-container #input-container button[type=button] {
    height: 30px;
    width: 200px;
    box-sizing: border-box;
    margin-right: 5px;
    background-color: #0056ff;
    border-radius: 5px;
    border: 2px solid #0056ff;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    float: left;
}

.section2-container #input-container button[type=button] p {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.section2-container #input-container button[type=button] p span {
    color: white;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
}

.section2-container #input-container button[type=button]:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(50, 50, 50);
    color: black;
}

.section2-container #input-container button[type=button]:hover p {
    color: black;
}

.section2-container #input-container button[type=button]:hover p span {
    color: black;
}

.section2-container hr {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.section2-container #input-container {
    /* background-color: crimson; */
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
}